@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  background-color: rgb(246, 244, 232);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
